body{
  margin: 0;
  /* padding: 5px 0; */
  padding: 0;
  /* white-space: pre-line; */
  /* background: url("./images/back2Medical.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Protest+Riot&family=Sedan:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.sedan-regular {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.protest-riot-regular {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

